/*adjusting bootstrap css*/

.panel {
    margin-left: 10px;
    margin-right: 10px;
}

.label {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}

button {
    margin: 2px;
}

#validFromId, #validToId {
    font-family: Georgia, Helvetica, fantasy !important;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

.rd-container {
    font-family: Georgia, Helvetica, sans-serif;
}